










新闻
体育
汽车
房产
旅游
教育
时尚
科技
财经
娱乐
更多

母婴
健康
历史
军事
美食
文化
星座
专题
游戏
搞笑
动漫
宠物






无障碍

关怀版















光明网












由内容质量互动评论分享传播等多维度分值决定勋章级别越高

代表其在平台内的综合表现越好





文章
总阅读






查看TA的文章



评论














甘肃积石山县首个地震宝宝出生




202312210721

来源
光明网
发布于北京市




原标题甘肃积石山县首个地震宝宝出生
对于甘肃省临夏州积石山县寨子沟乡的张越化名来说女儿的降生无疑是他此生仅有的特殊回忆
频发的余震中在医院的救护车上张越的妻子经历了近3个小时的分娩过程夫妇二人的女儿于寒夜之中呱呱坠地在医护人员温暖的怀抱中睁开双眼
12月20日积石山县人民医院的医生李琳化名告诉记者这是积石山县震后首个地震宝宝

医院大楼都在摇晃
李琳介绍12月19日凌晨地震发生后不久产科科室就接到了紧急电话称积石山县寨子沟乡有一名孕妇临产马上要送到积石山县人民医院而寨子沟乡距离积石山县人民医院大概有7公里
产妇大约是凌晨1点被送到医院的李琳说受地震影响医院当时的情况不容乐观他们站在5楼的产科病房能明显感到房子在摇晃他们那一层的病房多处吊顶被震塌地面也被震出了裂缝

安全起见大家第一时间引导五名待产的孕妇和家属撤离到楼下空旷的位置
受地震影响产科的分娩中心已无法正常运转李琳和同事考虑再三决定在救护车上帮产妇接生
在救护车上接生
听说要在救护车上给妻子接生张越一开始是迟疑的
张越向记者介绍了当晚的情况其实早在地震发生之前妻子就已感到肚子有些疼大约是18日晚上10点钟她的反应还没有那么强烈
12月18日23时59分地震毫无征兆地发生了
张越说也许是地震发生后妻子受到了惊吓越发觉得肚子疼痛难忍情况紧急他选择打120求助
听医生说要在救护车上面接生我一下子就慌了张越告诉记者当时他曾想过要把妻子转到临夏州的医院但医生告诉他由于路途稍远转运过程中可能会出现始料未及的突发情况
在李琳看来当时的情况下在救护车上接生可能是相对适合的一种方案李琳说从他们医院转到临夏州的医院按照正常行驶速度大约需要40分钟可能遇到堵车甚至是道路中断等突发情况另外产妇也有可能在转运过程中就要分娩这些可能的情况都是大家不愿意看到的
宝宝重约7斤5两
思来想去张越决定让妻子留在救护车上生产
为了顺利帮张越的妻子接生医院派出了产科科室一名副主任以及另外一名医生同时还有两名助产士助产
家属出门比较急没有带婴儿用的包被我们就想办法拿了些大人的衣物放在救护车上的空调出风口烘烤帮助新生儿御寒李琳说救护车上几乎没有任何设备他们冒着风险再次进入产科楼取来了碘伏棉签催产素一次性妇产包等分娩必备的工具产妇赶到医院时就已经开了四指大约3个小时后宝宝顺利出生重约7斤5两
医院的就诊记录显示这名新生儿的具体出生时间为12月19日凌晨3时43分顺产是一个足月女宝宝出生体重为3760克身长52厘米
整个分娩过程持续了接近3个小时其间还发生多次余震对于张越来说守候在救护车外的每一分钟都是紧张而煎熬的
张越说等待妻子分娩时他不能进救护车只能站在救护车外干着急直到女儿出生的那一刻他悬着的心总算是放下了
孩子白白胖胖母亲也身体平安李琳说孩子顺利出生后母女俩又在救护车里留观了2个小时大约凌晨5点家属带着产妇和婴儿离开
三名地震宝宝迎着曙光降生
为宝宝取名时张越并未考虑与震字沾边的名字张越说目前他已经帮宝宝取好了名字这段经历他会记在心里

我自己家受灾相对比较严重现在我带着老婆孩子一起回了她的娘家张越介绍目前妻子娘家食物充足不愁吃也不愁住孩子和妻子的身体状况也很好妻子也很感激忙碌了一夜的医护人员
在李琳看来为病人排忧解难是医护人员的分内之事地震当晚积石山县人民医院成了救治伤员的前沿阵地产科也积极响应在工作微信群中他们召回了11名医护人员彻夜参与到伤员救治工作中
李琳说19日凌晨包括张越的女儿在内产科一共接生了一男两女共三名婴儿除了可能自行在家分娩的产妇以外统计在册的孩子中张越的女儿是积石山县首个出生的地震宝宝
自地震发生以来作为距离最近的综合医疗机构积石山县人民医院在短时间内承载了震后大量医疗需求李琳说这两天很多医生忙到连饭都吃不上一口
来源央视网返回搜狐查看更多

责任编辑

平台声明该文观点仅代表作者本人搜狐号系信息发布平台搜狐仅提供信息存储空间服务


阅读














大家都在看












推荐阅读











































免费获取
























